@import 'styles/variables.css';

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 10px;

  & a {
    text-decoration: none;
  }
}

.title {
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  text-decoration: none;
  color: white;
}

.posterImg {
  display: block;
  max-width: 100%;
  height: auto;
}

.rating {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: white;
  border-radius: 4px;
  background-color: #294B00;
  transform: translateX(-50%);
}
