@import 'styles/variables.css';

.wrapper {
  width: 100%;

  & a {
    text-decoration: none;
  }
}

.title {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  text-decoration: none;
  color: white;
}

.posterImg {
  display: block;
  max-width: 100%;
  height: auto;
}
