@import 'styles/variables.css';

.wrapper {
  position: relative;
  z-index: var(--base-z-index);
  padding: var(--base-spacing);
}

.date {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.movieTheater {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.list {
  display: flex;
  flex-wrap: wrap;

  & a {
    width: 32%;
    margin: 1%;

    &:nth-of-type(3n) {
      margin-right: 0;  
    }

    &:nth-of-type(3n+1) {
      margin-left: 0; 
    }
  }
}
