@import 'normalize.css';

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background: #171717;
}

a {
  text-decoration: none;
}

:global(.material-icons) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
