@import 'styles/variables.css';

.container {
  margin: 0 var(--base-spacing);

  & h1 {
    margin: var(--large-spacing) 0;
    text-align: center;
    font-size: 26px;
  }

  & h2 {
    font-size: 20px;
  }
}

.controlWrapper {
  margin-top: var(--large-spacing);
  margin-bottom: var(--base-spacing);
  overflow: hidden;
}

.subTitle {
  float: left;
  margin-top: 4px;
}

.dayControl {
  float: right;
}

.dayInfo,
.button {
  display: inline-block;
  vertical-align: middle;
}

.dayInfo {
  margin-left: var(--small-spacing);
  margin-right: var(--small-spacing);

  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  & > .dayLabel {
    font-weight: var(--font-weight-bold);
  }

  & > .dayIcon {
    display: inline-block;
    margin-right: var(--smaller-spacing);
    font-size: 18px;
  }
}

.button {
  width: 32px;
  height: 32px;
  padding: 0;
  color: white;
  background-color: #2D2D2D;
  border: none;
  cursor: pointer;
  outline: none;

  & > i {
    font-size: 28px;
  }
}
