@import 'styles/variables.css';

.container {
  margin: 0 var(--base-spacing);

  & h1 {
    margin: var(--large-spacing) 0;
    text-align: center;
    font-size: 26px;
  }

  & h2 {
    font-size: 20px;

    @media (width < 420px) {
      font-size: 16px;
    }
  }
}

.logo {
  display: block;
  height: auto;
  max-width: 200px;
  margin: var(--large-spacing) auto;
}
