@import 'styles/variables.css';

.container {
  margin: 0 var(--base-spacing);

  & h1 {
    margin: var(--large-spacing) 0;
    text-align: center;
    font-size: 26px;
  }

  & h2 {
    font-size: 20px;
  }
}
