@import 'styles/variables.css';

.wrapper {
  position: relative;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--bottom-z-index);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(50px) saturate(90%) sepia(50%);
  opacity: .9;
}

.header {
  position: relative;
  z-index: var(--base-z-index);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
  }
}

.headerInfoWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--base-spacing);
  z-index: var(--base-z-index);
}

.banner {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  text-shadow: 0.5px 0.5px 1px #4c4c4c;

  @media (width < 380px) {
    font-size: 16px;
  }
}

.basicInfo {
  margin: 0;
  font-size: 14px;

  & span {
    &::after {
      content: '|';
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.about {
  position: relative;
  z-index: var(--base-z-index);
  padding: var(--base-spacing);

  & p {
    font-size: 14px;
    line-height: 1.4;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & b {
    display: block;
    margin-bottom: 4px;
    font-weight: var(--font-weight-bold);
  }
}

.arrowBack {
  position: absolute;
  top: var(--base-spacing);
  left: var(--base-spacing);
  width: 28px;
  z-index: var(--base-z-index);

  @media (width < 380px) {
    width: 22px;
  }
}

.ratings {
  position: relative;
  z-index: var(--base-z-index);
  margin: 0;
  padding: 0 var(--base-spacing);
  list-style: none;
}

.ratingItem {
  display: inline-block;
  margin-right: var(--large-spacing);

  @media (width < 420px) {
    margin-right: var(--base-spacing);
  }
}

.ratingImage,
.ratingValue {
  display: inline-block;
  vertical-align: middle;
}

.ratingImage {
  max-width: 40px;
}

.ratingValue {
  display: inline-block;
  margin-left: var(--base-spacing);
  font-weight: var(--font-weight-bold);
}

.metacriticImage {
  max-width: 24px;
}

.filmowImage {
  max-width: 60px;
}
